/* Slider Section */
.slider-section {
  margin-top: 10px;
  text-align: center;
}

/* Slider Section */
.slider-section h2 {
  font-size: 2.5rem; /* Increased font size */
  font-weight: bold;
  color: #333; /* Optional: Darker color for better readability */
  margin-bottom: 30px;
  margin-top: 50px; /* Adjusted top margin to lower the title */
}

.slider {
  position: relative;
  width: 100%;
  height: 700px; /* Adjust the height to fit the image size */
  overflow: hidden;
  border-radius: 1px;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out; /* Smooth fade transition */
  z-index: -1; /* Makes non-active slides appear behind the active one */
}

.slide.active {
  opacity: 1;
  z-index: 1; /* Makes the active slide come to the front */
}

.slider img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the container */
  border-radius: 1px;
}

/* Hero Section */
.hero-section {
  background-color: #dae4f7;
  color: rgb(11, 3, 3);
  padding: 20px 10px;
  text-align: center;
}

.hero-text h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.hero-text p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.cta-button {
  background-color: #ff6200;
  border: none;
  padding: 12px 30px;
  font-size: 1.1rem;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #e55a00;
}

/* Testimonials Section */
.testimonials-section {
  background-color: #f9f9f9;
  padding: 40px 20px;
  text-align: center; /* Centered text */
}

.testimonials-section h2 {
  font-size: 2.5rem; /* Increased font size for better prominence */
  margin-bottom: 30px;
  font-weight: bold;
  color: #333;
}

.testimonials-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.testimonial-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s;
}

.testimonial-card:hover {
  transform: translateY(-10px);
}

.testimonial-card p {
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 15px;
}

.author {
  font-size: 1rem;
  font-weight: bold;
  color: #00539C;
}

/* CTA Section */
.cta-section {
  background-color: #00539C;
  color: white;
  padding: 60px 20px;
  text-align: center;
}

.cta-section h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.cta-section p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.cta-action-button {
  background-color: #ff6200;
  border: none;
  padding: 12px 30px;
  font-size: 1.2rem;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.cta-action-button:hover {
  background-color: #e55a00;
}
